<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>AMAZON BOOKSTORE - STORES </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="http://localhost:3000/pages/books">Books</a>
    <a class="navbar-brand" href="http://localhost:3000/pages/authors">Authors</a>
    <a class="navbar-brand" href="http://localhost:3000/pages/stores">Stores</a>
  </nav>
  <body>
    <%@stores.each do | store | %>
    <%= "#{store.title}, #{store.city}" %>
    <%= link_to('Click here if this is closest!', action: 'stores_view', params: {id: store.id}) %>
    <br>
    <hr>
    <%end%>

    Not sure what store is closest? Type your address below and we can suggest one!

<br>
<br>
<br>
    <%= form_tag("/pages/storesearch", method: "post") do %>
      <%= label_tag(:user_address_input, "Enter address here!") %>
      <%= text_field_tag(:user_address_input) %>
      <%= submit_tag("Search") %>
      <% end %>

  </body>
</html>
